.formBody{
    backdrop-filter:blur(15px);
    border :5px solid rgb(255, 255, 255); 
}

.in::placeholder{
    color: whitesmoke;
}
.login-btn{
    border: 4px solid;
    color: white;
    border-image: linear-gradient(45deg, red, blue, green, yellow) 1;
    animation: animate-border 4s linear infinite;
}
section{
    background-color: black;
}
.card-body{
    border: solid 3px white ;
}
